.caja-grande{
    background-color: rgb(156, 134, 177);
    width: 91%;
    height: 400px;
    margin-top: 30px;
    margin-left: 5%;
    display: flex;
  
}
.caja-pequena1 { 
width: 30%;
height: 100%;
background-color: rgb(13, 123, 143);
border: 5px solid #333;
overflow-y: scroll;

}

.caja-pequena2 { 
    width: 70%;
    height: 100%;
    background-color: rgb(42, 122, 122);
    border: 5px solid #333;
    padding: 30PX;
    
    
    }

.caja-pequena2 img{
    width: 90%;
    height: 330PX;
    border-radius: 50px;
    
    
    
}

.carousel-item{
    max-height: 335px;
    box-shadow: -12PX 12PX 10PX #333;
    
    
    
}

    .cajasp{
    background-color: rgb(248, 247, 247);
    width: 80%;
    height: 40%;
    padding: 5%;
    margin-top: 5%;
    margin-left: 11%;
    border-radius: 20px;
    border: 3px solid #333;
    box-shadow: -10px 10px 20px #333;
    
    }

    .caja-n-1 img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .caja-n-2 img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .caja-n-3 img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .caja-n-4 img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }