{% extends 'plantilla.html' %}

{% block title %} AGREGAR PRODUCTO {% endblock %}

{% block content %}
<div class="contenedor-productos-crear">
    <h1>{% if productos %} Editar {% else %} Agregar {% endif %} Productos </h1>
    <form action="" method="post">
        <input type="hidden" name="id_producto" value="{{ productos.id if productos else '' }}">
        
        <!-- ESPACIO PARA EL NOMBRE -->
        <label for="name">Nombre:</label>
        <input type="text" name="nombre" value="{{ productos.nombre if productos else '' }}" required> <br><br>

        <!-- ESPACIO PARA LA DESCRIPCIÓN -->
        <label for="descripcion">Descripción:</label>
        <input type="text" name="descripcion" value="{{ productos.descripcion if productos else '' }}" required>
        <br><br>

        <!-- ESPACIO PARA EL PRECIO -->
        <label for="precio">Precio:</label>
        <input type="number" name="precio" value="{{ productos.precio if productos else '' }}" required> <br><br>

        <!-- ESPACIO PARA LA IMAGEN -->
        <label for="imagen">Link de la Imagen:</label>
        <input type="text" name="imagen" value="{{ productos.imagen if productos else '' }}" required> <br><br>
        
        <!-- BOTÓN DE ENVÍO -->
        <button type="submit">{% if productos %} Actualizar {% else %} Agregar {% endif %}</button>

        <a href="={{url_for('productos')}}"> Volver a los productos</a>
    </form>
</div>
{% endblock %}